h3{
	color:#0FE40F;
}

h2 ~ p{
	font-style: italic;
}

h2 + p{
	font-variant: small-caps;
}

/* vai pegar todos os h1 da página */
h1 {
color: blue;
}

/* vai pegar todos os h1 do article, incluindo de dentro da section */
article h1 {
color: blue;
}

/* vai pegar só o h1 principal, filho direto de article e não os netos */
article > h1 {
color: blue;
}

p {
color: gray;
}
p.especial {
color: black; /* restaura cor do especial */
}

/*No CSS3, há uma outra forma, usando o seletor de negação. Ele nos permite escrever um seletor que pega
elementos que não batem naquela regra.*/
p:not(.especial) {
color: gray;
}

/*Há duas pseudo-classes do CSS3 que representam exatamente o primeiro elemento filho de outro (first-child)
e o último elemento filho (last-child). */
li:first-child {
	color: red;
}
li:last-child {
	color: blue;
}

/*
nth-child
Um seletor ainda mais genérico do CSS3 é o :nth-child() que nos permite passar o índice do
elemento. Por exemplo, podemos pegar o terceiro item com:
li:nth-child(3) { 
	color: yellow; 
}
Porém, o mais interessante é que o nth-child pode receber uma expressão aritmética para indicar quais índices selecionar. É fácil fazer uma lista zebrada, com itens ímpares de uma cor e
pares de outra:
li:nth-child(2n) { 
	color: green; 
}  elementos pares 

li:nth-child(2n+1) {
	color: blue; 
} elementos impares 
*/

/* seleciona o link no exato momento em que passamos o mouse por cima dele 
a:hover {
background-color:#FF00FF;
}
*/